certifi==2020.6.20
chardet==3.0.4
colored==1.4.2
idna==2.10
lxml==4.5.0
numpy==1.19.3
pandas==1.1.3
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
requests-futures==1.0.0
selenium==3.141.0
six==1.15.0
urllib3==1.25.11
yahooquery==2.2.8
